/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* SETUP */

/* Color Styles*/
:root {
  --primary: #FFFFFF;
  --primary-light: #FCCC73;
  --dark-brown: #341413;
  --gray-1: #FFFFFF;
  --gray-2: #E9E9ED;
  --white: #FFFFFF;

  /* Font Size Desktop*/
  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;
}

/* Font Weight*/
:root {
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #F3F2FF; /* Cambia esto al color deseado */
}



/* Home Styling */

.home-container {
  background-color: #F3F2FF; /* Set background color for the Home component */
}

.main-container {
  
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}

.btn-primary {
    color: #ffffff;
    background-color: #857ff0;
    border-color: #857ff0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #857ff0c8;
  border-color: #857ff0; 
}

.btn-primary:active,
btn-primary:active {
  background-color: #857ff0c8;
  border-color: #857ff0;
}

.custom-btn {
    background-color: #ffffff; 
    color: #857ff0; 
  }

.custom-btn:hover{
  color: #857ff0;
  background-color: #ffffff;
  border-color: #857ff0; 
}

.colored-section {
  background-color: #F3F2FF;
}

.padded-section{
  padding-top: 5px;
  padding-bottom: 20px;
}

/* Profile Styling */
.profile-container {
  background-color: #F3F2FF; /* Set background color for the Profile component */
}

.profile-info-row {
  background-color: #9087D3;
}

.profile-header-section {
  padding-top: 40px; 
  padding-left: 20px;
  
}

.profile-header-section {
  text-align: left; 
}

.profile-info-section {
  display: flex;
  align-items: center; /* Center vertically */
}

.profile-info-section .col-lg-10 {
  padding-top: 40px;
}

.profile-buttons-section {
  padding-bottom: 20px;
  padding-left: 20px; 
  padding-right: 20px; 
}
.profile-buttons-section .col-lg-4 {
  width: 300 px;
  margin-bottom: 20px; 
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Altura deseada para las imágenes */
  background-size: cover;
  background-position: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* El texto estará oculto inicialmente */
  transition: opacity 0.3s ease; /* Transición suave al hacer hover */
}

.image-container:hover .image-overlay {
  opacity: 1; /* Mostrar el texto al hacer hover sobre la imagen */
}

.image-overlay p {
  color: white;
  font-size: 16px;
}

.button-container {
  text-align: center;
}

/* Navbar */
.nav-link {
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
}






/* QUIZ */

.banner-container {
  background-color: #857ff0;
}





/* RELATIONSHIPS */
.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 1200px; 
  padding: 0 20px; 
}

.user-card {
  width: calc(20% - 40px); /* Ancho del 33.33% con 10px de espacio entre tarjetas */
  margin-bottom: 20px; /* Espacio entre filas */
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
}

.user-name-link {
  font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
  text-decoration: none;
  color: #000; /* Color del texto */
  /* Añade cualquier otro estilo deseado para el enlace */
}

.user-card {
  width: calc(33.33% - 10px); /* Ancho del 33.33% con 10px de espacio entre tarjetas */
  margin-bottom: 20px; /* Espacio entre filas */
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
}

/* Estilos adicionales para la imagen y el enlace dentro de las tarjetas si es necesario */
.user-photo {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Ajusta según sea necesario */
}

.user-name-link {
  display: block;
  text-align: center; /* Centra el texto */
}



/* ROMANTIC IDEAS */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  flex: 0 0 250px; /* Establece un ancho fijo para la etiqueta */
  text-align: right;
}

.input-container {
  flex: 1;
  
}


.form-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}








.generated-code {
    color: #857ff0; 
    
}

.copy-icon {
    color:#857ff0;
}

.custom-outline-button {
    color: #857ff0; 
    border-color: #857ff0;
  }

  section.hero {
    background-color: #857ff0;
    margin: 5rem 0 3 rem;
    padding-bottom: 3rem;
  }
  
  .text-label,
  .text-hero-bold,
  .text-hero-regular {
    margin: 24px 0;
  }
  
  .text-label {
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
  }
  
  .text-hero-bold {
    color: var(--dark-brown);
    font-size: var(--header-1); 
    font-weight: var(--font-weight-bold);
    line-height: 74px;
  }
  
  .text-hero-regular {
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
  }
  
  /* NAVBAR */
.navbar {
  padding: 48px 0;
  justify-content: center; /* Center horizontally */
}
.navbar-brand img {
  padding-right: 16px;
  max-width: 30%;
}
.navbar-brand span {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--dark-brown);
}
.nav-link {
  margin-right: 39px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
}